
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BanaHubMainLayout.cshtml";
}

<!-- Slider -->
<div id="slide" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="width:100%" src="~/Images/slide4.jpg" alt="">
        </div>
        <div class="carousel-item">
            <img style="width:100%" src="~/Images/slide2.png" alt="">
        </div>
        <div class="carousel-item">
            <img style="width:100%" src="~/Images/slide5.jpg" alt="">
        </div>
    </div>
    <a class="carousel-control-prev" href="#slide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- main -->
<div class="container-fluid container-center">
    <div class="sub-container" style="width: 80%;">

        <!-- Box -->
        <div class="justify-content-sm-center">
            <div class="row text-center">
                <div class="col-md-4 col-sm-11 col-lg-4 d-none d-md-block">
                    <div class="section-box rounded shadow"
                         style="background-color:rgb(255,255,255);padding:30px 20px 30px 20px;margin:-30px 0px 0px 0px; max-width: 370px;">
                        <div class="icon-box featured-box icon-box-center text-center">
                            <div class="icon-center" style="margin-bottom:10px"><i class="fas fa-truck" style="font-size: 2.5em;"></i></div>
                            <div class="icon-box-text">
                                <h4 class="text-uppercase">freeship</h4>
                                <p>
                                    facere impedit soluta necessitatibus provident nihil? Laboriosam, impedit labore!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-11 col-lg-4 d-none d-md-block">
                    <div class="section-box section-box rounded shadow"
                         style="background-color:rgb(255,255,255);padding:30px 20px 30px 20px;margin:-30px 0px 0px 0px; max-width: 370px;">
                        <div class="icon-box featured-box icon-box-center text-center">
                            <div class="icon-center" style="margin-bottom:10px"><i class="fas fa-cart-arrow-down" style="font-size: 2.5em;"></i></div>
                            <div class="icon-box-text">
                                <h4 class="text-uppercase">hoàn tiền 100%</h4>
                                <p>
                                    facere impedit soluta necessitatibus provident nihil? Laboriosam, impedit labore!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-11 col-lg-4 d-none d-md-block">
                    <div class="section-box rounded shadow"
                         style="background-color:rgb(255,255,255);padding:30px 20px 30px 20px;margin:-30px 0px 0px 0px; max-width: 370px;">
                        <div class="icon-box featured-box icon-box-center text-center">
                            <div class="icon-center" style="margin-bottom:10px"><i class="fas fa-comment-dots" style="font-size: 2.5em;"></i></div>
                            <div class="icon-box-text">
                                <h4 class="text-uppercase">hỗ trợ 24/7</h4>
                                <p>
                                    facere impedit soluta necessitatibus provident nihil? Laboriosam, impedit labore!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section -->
        <div class="text-center d-none d-md-block" style="margin-top: 3rem;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="zoom rounded">
                        <a href="@Url.Action("SanPham", "BanaHub")"><img class="rounded img-fluid" src="~/Images/slide6.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                    <div class="p-2 zoom" style="padding-top: 0 !important;">
                        <div class="zoom rounded">
                            <a href="@Url.Action("SanPham", "BanaHub")"><img class="rounded img-fluid d-none d-lg-block" src="~/Images/slide1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="mt-1"></div>
                    <div class="p-2 ">
                        <div class="zoom rounded">
                            <a href="@Url.Action("SanPham", "BanaHub")"><img class="rounded img-fluid d-none d-lg-block" src="~/Images/slide7.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:12px">
                    <div class="zoom rounded">
                        <a href="@Url.Action("SanPham", "BanaHub")"><img class="rounded img-fluid" src="~/Images/slide1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- SectionSlide -->
        <div class="container" style="margin-top: 3rem;">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="text-center" style="margin-bottom: 2rem;">
                        <ul class="nav justify-content-center nav-pills">
                            <li class="nav-item section-link" data-target="#slides" data-slide-to="0">
                                <a href="#slides" class="nav-link text-uppercase">bán chạy</a>
                            </li>
                            <li class="nav-item section-link" data-target="#slides" data-slide-to="1">
                                <a href="#slides" class="nav-link text-uppercase">nổi bật</a>
                            </li>
                            <li class="nav-item section-link" data-target="#slides" data-slide-to="2">
                                <a href="#slides" class="nav-link text-uppercase">giá tốt</a>
                            </li>
                        </ul>
                    </div>
                    <div id="slides" class="carousel slide" data-ride="carousel" style="padding-left:2rem">
                        <div class="carousel-inner">
                            @Html.Action("SanPhamSliderPartial")
                        </div>
                        <a class="carousel-control-prev" href="#slides" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#slides" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Đánh giá -->
<div class="container-fluid" style="padding-left: 0; padding-right: 0; margin-top: 3rem;">
    <div class="text-center section-cmt" style="padding-top: 2rem;">
        <h4 class="text-uppercase">đánh giá</h4>
    </div>

    <div id="slidee" class="carousel slide " data-ride="carousel" style="background-color: #be9329;">
        <div class="carousel-inner section-center" style="padding-bottom:10px">
            <div class="carousel-item active">
                @*<img src="~/Images/test.png" alt="Alternate Text" />*@
                <div class="card card-center" style="width: 70%; border: none; background-color: #be9329;">
                    <div class="section-center">
                        <div class="card-imgs" style="border-radius: 50%; width: 100px; overflow: hidden;">
                            <img src="~/Images/user5.png" alt="" class="card-img-top"
                                 style="width: 100px; height: 100px">
                        </div>
                    </div>

                    <div class="card-body">
                        <p style="color: #fff;" class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Dolor numquam quas mollitia possimus sequi. Enim sunt ea fugiat
                            doloremque laboriosam harum neque ab! Possimus sed fugit nisi ullam consequatur
                            architecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                @*<img src="~/Images/test.png" alt="Alternate Text" />*@
                <div class="card card-center" style="width: 70%; border: none; background-color: #be9329;">
                    <div class="section-center">
                        <div class="card-imgs" style="border-radius: 50%; width: 100px; overflow: hidden;">
                            <img src="~/Images/user4.png" alt="" class="card-img-top"
                                 style="width: 100px; height: 100px">
                        </div>
                    </div>

                    <div class="card-body">
                        <p style="color: #fff;" class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Dolor numquam quas mollitia possimus sequi. Enim sunt ea fugiat
                            doloremque laboriosam harum neque ab! Possimus sed fugit nisi ullam consequatur
                            architecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                @*<img src="~/Images/test.png" alt="Alternate Text" />*@
                <div class="card card-center" style="width: 70%; border: none; background-color: #be9329;">
                    <div class="section-center">
                        <div class="card-imgs" style="border-radius: 50%; width: 100px; overflow: hidden;">
                            <img src="~/Images/user2.png" alt="" class="card-img-top"
                                 style="width: 100px; height: 100px">
                        </div>
                    </div>

                    <div class="card-body">
                        <p style="color: #fff;" class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Dolor numquam quas mollitia possimus sequi. Enim sunt ea fugiat
                            doloremque laboriosam harum neque ab! Possimus sed fugit nisi ullam consequatur
                            architecto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slidee" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slidee" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<!-- Sản phẩm -->
<div class="container-fluid container-center" style="margin-top: 3rem;">
    <div class="sub-container" style="width: 80%;">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div>
                    <p class="text-uppercase" style="font-weight: bold; font-size: 1.5em; color:#be9329">vi xử lý</p>
                </div>
                <div class="list-item">
                    @Html.Action("ViXuLyPartial")
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div>
                    <p class="text-uppercase" style="font-weight: bold; font-size: 1.5em; color:#be9329">Case</p>
                </div>
                <div class="list-item">
                    @Html.Action("CasePartial")
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div>
                    <p class="text-uppercase" style="font-weight: bold; font-size: 1.5em; color:#be9329">phụ kiện</p>
                </div>
                <div class="list-item">
                    @Html.Action("PhuKienPartial")
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div>
                    <p class="text-uppercase" style="font-weight: bold; font-size: 1.5em; color:#be9329">khuyến mãi</p>
                </div>
                <div class="list-item">
                    @Html.Action("KhuyenMaiPartial")
                </div>
            </div>
        </div>
    </div>
</div>



